@using eShop.Models;
@model ProductModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление товара</h2>
<hr />
<h3>Вы действительно хотите удалить данный товар?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selectedCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selectedCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productTags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
        </div>
    }
</div>
