@model eShop.Models.ProductModel
@using eShop.Models;

@{
    ViewBag.Title = "Информация о товаре";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.selectedCategory)</h2>

<hr />

<h3>@Html.DisplayFor(model => model.productName)</h3>

<hr />

<div class="row">
    <div class="col-xs-6 col-md-3">
        <img class="img-thumbnail" alt="250x250" src="@ProductModel.pathToImage@Html.DisplayFor(model => model.productImage)" style="width: 250px; height: 250px;">
        <h3 >@Html.DisplayFor(model => model.productPrice) руб.</h3>
        <div>
            @Html.ActionLink("В корзину", "", new { id = @Model.productId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Заказать сейчас", "", new { id = Model.productId }, new { @class = "btn btn-danger" })
        </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Описание товара</a></li>
            <li><a href="#profile" data-toggle="tab">Характеристики</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="productTabs">
            <div class="tab-pane active" id="home">
                <p>@Html.DisplayFor(model => model.productDescription)</p>
            </div>
            <div class="tab-pane" id="profile">
                <p>Тут будут характеристики</p>
            </div>
        </div>
    </div>
</div>
