@using eShop.Models;
@model ProductModel


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование товара</h2>
<hr />

<form method="post" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" value="@Model.productId" name="productId" />
    <div class="form-group">
        <label for="productName" class="col-sm-2 control-label">Название</label>
        <input type="text" class="form-control" name="productName" id="productName" placeholder="Производитель и модель" required value="@Model.productName" />
    </div>
    <div class="form-group">
        <label for="productDescription" class="col-sm-2 control-label">Описание</label>
        <textarea class="form-control" rows="6" name="productDescription" id="productDescription" required>@Model.productDescription</textarea>
    </div>
    <div class="form-group">
        <label for="productTags" class="col-sm-2 control-label">Теги</label>
        <textarea class="form-control" rows="2" name="productTags" id="productTags" placeholder="Ключевые слова" required >@Model.productTags</textarea>
    </div>
    <div class="form-group">
        <label for="selectedCategory" class="col-sm-2 control-label">Категория</label>
        <select class="form-control" name="selectedCategory" id="selectedCategory">
            @foreach (string element in ProductModel.productCategory)
            {
                <option>@element</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="productPrice" class="col-sm-2 control-label">Цена</label>
        <input type="number" class="form-control" name="productPrice" id="productPrice" placeholder="В рублях" required value="@Model.productPrice" />
    </div>
    <div class="form-group">
        <label for="dateAdd" class="col-sm-2 control-label">Дата добавления</label>
        <input type="date" class="form-control" name="dateAdd" id="dateAdd" value="@Model.dateAdd" />
    </div>
    <div class="form-group">
        <label for="productImage" class="col-sm-2 control-label">Загрузить фото</label>
        <input type="file" class="form-control" name="productImage" id="productImage" accept="image/jpeg,image/png" />
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
