@using eShop.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "FindProductByTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результаты поиска по тегу: @ViewBag.Message</h2>
<hr />

<div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <p>
                        <img src="@ProductModel.pathToImage@item.productImage" alt="хех" class="img-thumbnail" style="width: 200px; height: 200px;">
                    </p>
                    <h5>
                        @item.productName
                    </h5>
                    <p>
                        @item.productPrice руб.
                    </p>
                    <p>
                        <a class="btn btn-default" href="@Url.Action("Details","Home",new { id = item.productId })">Подробнее »</a>
                    </p>
                </div>
            </div>
        }
    </div>

