@using eShop.Models;
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-md-4">
        <h2>Список товаров</h2>
    </div>
    <div class="col-xs-6 col-md-8">

        <!-- Split button -->
        <div class="btn-group sortButton">

            <a class="btn btn-default" href="@Url.Action("index","Home",new { sort = TypeSort.PriceAsc })">По умолчанию</a>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Меню с переключением</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.NameAsc })">По названию, от А до Я</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.NameDesc })">По названию, от Я до А</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.PriceAsc })">По цене, сначала недорогие</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.PriceDesc })">По цене, сначала дорогие</a></li>
            </ul>
        </div>
        <p class="sortButton">Сортировка: </p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">тут</a>
            <a href="#" class="list-group-item">скоро</a>
            <a href="#" class="list-group-item">будут</a>
            <a href="#" class="list-group-item">фильтры</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-9">

        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4.5" id="productContainer">

                <h2>
                    @item.productName
                </h2>
                <p>
                    <img src="@ProductModel.pathToImage@item.productImage" alt="хех" class="img-thumbnail" style="width: 100px; height: 100px;">
                    @item.dateAdd
                </p>
                <p>
                    @item.selectedCategory
                </p>
                <p>
                    @item.productDescription
                </p>
                <p>
                    @item.productPrice руб.
                </p>
                <p>
                    @item.productTags
                </p>
                <p>
                    <a class = "btn btn-default" href="@Url.Action("Details","Home",new { id = item.productId })">Подробнее »</a>
                    <a class = "btn btn-warning" href="@Url.Action("Edit","Home",new { id = item.productId })">Редактировать</a>
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmToDelete">Удалить</button>
                    @*Html.ActionLink("Удалить", "Delete", new { id = item.productId }, new { @class = "btn btn-danger" })*@
                </p>
            </div>
        }
    </div>

</div>

<!-- Всплывающее окно -->
<div id="confirmToDelete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Подтвердите действие</h4>
            </div>
            <div class="modal-body">Вы действительно хотите удалить товар?</div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="@Url.Action("DeleteProduct","Home",new { id= 1 })">Удалить</a>
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>